av==11.0.0
decord==0.6.0
easydict==1.9
einops==0.8.0
fvcore==0.1.5.post20221221
ipdb==0.13.13
kornia==0.7.3
matplotlib==3.7.0
mmcv==2.2.0
mmdet==3.3.0
moviepy==1.0.3
numpy==1.24.4
opencv_python==4.7.0.72
opencv_python_headless==4.5.3.56
pandas==1.5.3
Pillow==7.0.0
Pillow==10.4.0
plotly==5.17.0
psutil==5.9.7
pytorch_lightning==1.6.5
pytorchvideo==0.1.5
PyYAML==6.0.1
PyYAML==6.0.2
scikit_learn==1.3.2
scipy==1.14.1
setuptools==45.2.0
skimage==0.0
slowfast==1.0
submitit==1.5.2
tensorflow==2.17.0
timm==0.9.12
torch==2.3.0
torchmetrics==1.2.0
torchvision==0.14.1
tqdm==4.64.1
transformers==4.33.2
